@font-face {
    font-family: ArialBlack;
    src: url(ariblk.ttf);
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0px;
    font-family: "ArialBlack";
}



/*Header and First Section*/
a{
    color:white;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}


h1{
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    font-weight: 800;
}

.car_logo{
    height:100px;
}

.titel_picture{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.links{
    margin-left: auto;
    display:flex;
    gap: 50px;
}

.head{
    display:flex;
    flex-direction: column;
    padding: 0 350px;
    background-color: #1F2937;
}

.hero_content{
    display: flex;
    padding-top: 30px;
    margin-bottom: 70px;
    
}

.left_side{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    padding-right: 25px;
    flex:1;
}

.head_text{
    font-size: 18px;
    color: #E5E7EB;

    
}

/*##################...second_section...################*/

.second_section{
    display: flex;
    flex-direction: column;
}

.sections{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 0 350px;
    padding-bottom: 70px;
    
}

.section{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.second_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

/*################...Quote_Section...#############*/
.quote_section{
    display:flex;
    flex-direction: column;
    background-color: #E5E7EB;
    text-align: center;
    padding: 100px 450px;
}

.quote{
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
    
}